---
title: "The Origin Story"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">My story</h2>
  <p>My journey into software development began early, experimenting with ActionScript for flash programming before diving into college computer science and eventually becoming a certified software developer through SpringBoard.</p>

  <p>Proficient in JavaScrip, Python, and SQL, I'm a self-taught developer with hands-on experience gained through freelance projects. I've developed countless web apps with two of my most recent being full-stack, honing my skills and exploring the depths of software engineering.</p>

  <p>What drives me in this field is the opportunity to bring ideas to life and make a meaningful impact. I thrive on solving complex problems, whether it's backend development or diving into the world of mobile development, where my interest lies.</p>

  <p>With a strong track record in cross-functional team environments, both in-person and remotely, I bring effective communication, attention to detail, and a collaborative spirit to every project.</p>

  <p>My ultimate goal? To contribute to something bigger, to be part of a team that designs and implements solutions that change lives globally.</p>

  <p>Feel free to <a class="profile__link" href="/contact">reach out</a>—I'm always eager to connect and explore new opportunities!</p>
</section>