---
title: "Message Sent!"
layout: "base.njk"
---

<div class="container text-center">
  <h2 class="heading--main">Thanks for reaching out!</h2>
  <p>I'll respond as soon as the carrier pigeon arrives.<p>
</div>